body {
	text-align: center;
}

/* Header Styles */

.header.wrap {
	text-align: left;
	margin: 0% 5%;
	padding-top: 20px;
}

/*  Main Content Styles */

.main.wrap {
	max-width: 1000px;
	margin: auto;
	text-align: left;

	.post.archive {
		img {
			float: left;
			margin-right: 20px;
		}
	}

	img {
		max-width: 1000px;
		height: auto;
	}
}

article.post  {
	clear: both;
	margin-bottom: 70px;
}

.featured {
	margin-top: 100px;
}

/* Footer Styles */
.footer.wrap {
	padding-top: 50px;
	padding-bottom: 20px;
	max-width: 900px;
	margin: auto;
	color: #888;
}